* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.__app .container {
  width: 80%;
  margin: 0 auto;
}
.__app a {
  text-decoration: none;
}
.__app li {
  list-style: none;
}
.__app input, .__app button, .__app a {
  outline: none;
}
.__app .field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.__app .wrapper {
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 10px 10px;
}

.col-2 {
  width: 16.6666666667%;
  padding: 10px 10px;
}

.col-3 {
  width: 25%;
  padding: 10px 10px;
}

.col-4 {
  width: 33.3333333333%;
  padding: 10px 10px;
}

.col-5 {
  width: 41.6666666667%;
  padding: 10px 10px;
}

.col-6 {
  width: 50%;
  padding: 10px 10px;
}

.col-7 {
  width: 58.3333333333%;
  padding: 10px 10px;
}

.col-8 {
  width: 66.6666666667%;
  padding: 10px 10px;
}

.col-9 {
  width: 75%;
  padding: 10px 10px;
}

.col-10 {
  width: 83.3333333333%;
  padding: 10px 10px;
}

.col-11 {
  width: 91.6666666667%;
  padding: 10px 10px;
}

.col-12 {
  width: 100%;
  padding: 10px 10px;
}

header nav .top_bar {
  border-bottom: 1px solid #666;
}
header nav .field form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
header nav .field form label {
  position: absolute;
  z-index: 1;
  left: 17.5%;
}
header nav .field form input {
  position: relative;
  width: 300px;
  padding: 14px 24px;
  border: 1px solid #666;
  border-radius: 6px 0px 0px 6px;
}
header nav .field form .btn {
  padding: 14px 24px;
  background: #00B207;
  color: #FFFFFF;
  border: 1px solid #666;
  border-radius: 0px 6px 6px 0px;
}
header nav .field .top_bar_icons i {
  font-size: 22px;
  font-weight: _;
  color: _;
}
header nav .field .top_bar_icons .col-7 {
  gap: 5px;
  border: none;
}
header nav .field .top_bar_icons .col-7 .col-3 {
  padding: 0;
}
header nav .field .top_bar_icons .col-7 .col-9 {
  padding: 0;
  text-align: start;
}
header nav .field .top_bar_icons .col-7 .col-9 p {
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
}
header nav .field .top_bar_icons .col-7 .col-9 p:last-child {
  font-size: _;
  font-weight: 600;
  color: #1A1A1A;
}
header nav .field .top_bar_icons .col-5 {
  text-align: end;
  border-right: 1px solid #666;
}
header nav .menu_bar {
  padding: 16px 0;
  background: var(--gray-scale-gray-800, #333);
}
header nav .menu_bar ul li {
  position: relative;
  padding: 5px 10px;
}
header nav .menu_bar ul li::after {
  content: attr(text);
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #FFFFFF;
}
header nav .menu_bar ul li a {
  color: var(--gray-scale-gray-400, #999);
  transition: all 0.3s ease;
}
header nav .menu_bar ul li:hover::after, header nav .menu_bar ul li.active::after {
  width: 100%;
  transition: all 0.4s ease;
}
header nav .menu_bar ul li:hover a, header nav .menu_bar ul li.active a {
  color: #FFFFFF;
}
header nav .menu_bar .field .phone_number {
  text-align: end;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */