* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.__app .container {
  width: 1140px;
  margin: 0 auto;
}
.__app a {
  text-decoration: none;
}
.__app li {
  list-style: none;
}
.__app img {
  width: 100%;
  height: 100%;
}
.__app input, .__app button, .__app a {
  outline: none;
}
.__app .field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.__app .wrapper {
  flex-wrap: wrap;
}
.__app .btn {
  padding: 16px 40px;
  border: none;
  border-radius: 30px;
  background: #00B207;
  color: #FFFFFF;
  cursor: pointer;
}
.__app .border {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.__app .border:hover {
  border-color: #00B207;
  box-shadow: 0 0 3px 0px #00B207;
}

.col-1 {
  width: 8.3333333333%;
  overflow: hidden;
}

.col-2 {
  width: 16.6666666667%;
  overflow: hidden;
}

.col-3 {
  width: 25%;
  overflow: hidden;
}

.col-4 {
  width: 33.3333333333%;
  overflow: hidden;
}

.col-5 {
  width: 41.6666666667%;
  overflow: hidden;
}

.col-6 {
  width: 50%;
  overflow: hidden;
}

.col-7 {
  width: 58.3333333333%;
  overflow: hidden;
}

.col-8 {
  width: 66.6666666667%;
  overflow: hidden;
}

.col-9 {
  width: 75%;
  overflow: hidden;
}

.col-10 {
  width: 83.3333333333%;
  overflow: hidden;
}

.col-11 {
  width: 91.6666666667%;
  overflow: hidden;
}

.col-12 {
  width: 100%;
  overflow: hidden;
}

header nav .top_bar {
  border-bottom: 1px solid #666;
}
header nav .field form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
header nav .field form label {
  position: absolute;
  z-index: 1;
  left: 17.5%;
}
header nav .field form input {
  position: relative;
  width: 300px;
  padding: 14px 24px;
  border: 1px solid #666;
  border-radius: 6px 0px 0px 6px;
}
header nav .field form .btn {
  padding: 14px 24px;
  background: #00B207;
  color: #FFFFFF;
  border: 1px solid #666;
  border-radius: 0px 6px 6px 0px;
}
header nav .field .top_bar_icons i {
  font-size: 22px;
  font-weight: _;
  color: _;
}
header nav .field .top_bar_icons .col-7 {
  gap: 5px;
  border: none;
}
header nav .field .top_bar_icons .col-7 .col-3 {
  padding: 0;
}
header nav .field .top_bar_icons .col-7 .col-9 {
  padding: 0;
  text-align: start;
}
header nav .field .top_bar_icons .col-7 .col-9 p {
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
}
header nav .field .top_bar_icons .col-7 .col-9 p:last-child {
  font-size: _;
  font-weight: 600;
  color: #1A1A1A;
}
header nav .field .top_bar_icons .col-5 {
  text-align: end;
  border-right: 1px solid #666;
}
header nav .menu_bar {
  padding: 16px 0;
  background: var(--gray-scale-gray-800, #333);
}
header nav .menu_bar ul li {
  position: relative;
  padding: 5px 10px;
}
header nav .menu_bar ul li::after {
  content: "";
  position: absolute;
  top: 97.5%;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #FFFFFF;
  z-index: 999;
}
header nav .menu_bar ul li a {
  color: var(--gray-scale-gray-400, #999);
  transition: all 0.3s ease;
}
header nav .menu_bar ul li:hover::after, header nav .menu_bar ul li.active::after {
  width: 100%;
  transition: all 0.4s ease;
}
header nav .menu_bar ul li:hover a, header nav .menu_bar ul li.active a {
  color: #FFFFFF;
}
header nav .menu_bar .field .phone_number {
  text-align: end;
  color: #FFFFFF;
}

.home .header {
  padding: 10px 10px;
  position: relative;
  background: #EDF2EE;
  margin: 1rem auto;
  border-radius: 8px;
}
.home .header .col-5 {
  text-align: start;
}
.home .header .col-5 h1 {
  font-size: 54px;
  font-weight: 900;
  color: #1A1A1A;
}
.home .header .col-5 p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #1A1A1A;
}
.home .header .col-5 p span {
  color: #FF8A00;
}
.home .header .col-5 p.text {
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
}
.home .header .col-5 .btn {
  margin-top: 1rem;
}
.home .header .col-7 img {
  height: 400px;
}
.home .header .col-10 {
  position: relative;
  top: 60px;
  margin: 0 auto;
  padding: 10px 10px;
  background: #FFFFFF;
  box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
  border-radius: 8px;
}
.home .header .col-10 .col-9 {
  text-align: start;
}
.home .header .col-10 .col-9 .title {
  font-size: 16px;
  font-weight: 900;
  color: #1A1A1A;
}
.home .header .col-10 .col-9 .text {
  font-size: 10px;
  font-weight: 400;
  color: #1A1A1A;
}
.home .feature_product {
  margin: 5rem auto 0 auto;
}
.home .feature_product h3 {
  text-align: center;
  padding: 20px 10px;
}
.home .feature_product .field {
  margin: 10px 0;
}
.home .feature_product .field .col-2 {
  padding: 0;
}
.home .feature_product .field .col-2 .col-12 {
  padding: 5px;
}
.home .feature_product .field .col-9 .col-4 h3 {
  text-align: start;
  padding: 5px 0;
}
.home .feature_product .field .col-9 .col-4 .col-12 {
  margin: 10px 0;
}
.home .feature_product .field .image {
  position: relative;
  height: 320px;
}
.home .feature_product .field .image img {
  position: absolute;
}
.home .feature_product .field .image .col-12 {
  position: relative;
  text-align: center;
  top: 15%;
}
.home .feature_product .field .image .col-12 h5 {
  font-size: 14px;
  font-weight: 900;
  color: #1A1A1A;
}
.home .feature_product .field .image .col-12 .price {
  font-size: 28px;
  font-weight: 900;
  color: #00B207;
}
.home .top_categories {
  padding: 40px 0;
}
.home .top_categories h3 {
  text-align: center;
  padding: 20px 0;
}
.home .top_categories .field .col-2 {
  padding: 15px 10px;
  flex-direction: column;
}
.home .top_categories .field .col-2 .col-12 {
  text-align: center;
}
.home .top_categories .field .col-2 .col-12 p {
  font-size: 18px;
  font-weight: 900;
  color: #00B207;
}
.home .top_categories .field .col-2 .col-12 p:last-child {
  font-size: 12px;
  font-weight: 400;
  color: #1A1A1A;
}
.home .newest_product {
  padding: 30px 0;
}
.home .newest_product .field h3 {
  padding: 10px 0;
}
.home .newest_product .field .col-2 .col-12.field {
  padding: 10px 10px;
}
.home .newest_product .field .col-2 .col-12.field .col-3 i {
  padding: 10px 10px;
  border-radius: 50%;
  background: #EDF2EE;
}
.home .testominal {
  padding: 30px 0;
  background: #EDF2EE;
}
.home .testominal .field h3 {
  padding: 10px 0;
}
.home .testominal .field .col-4 {
  padding: 24px 24px;
  background: #FFFFFF;
}
.home .testominal .field .col-4 .col-6 {
  margin: 1rem 0 0 0;
}
.home .testominal .field .col-4 .col-6 .col-3 {
  height: 100%;
  border-radius: 50%;
  background: #1A1A1A;
  -o-object-fit: fill;
     object-fit: fill;
}
.home .testominal .field .col-4 .col-6 .col-3 img {
  height: 100%;
}
.home .instagram {
  padding: 100px 0px;
}
.home .instagram h3 {
  text-align: center;
  padding: 30px 0;
}
.home .instagram .field .col-2 {
  height: 200px;
  position: relative;
}
.home .instagram .field .col-2 img {
  position: absolute;
}
.home .instagram .field .col-2 .col-12 {
  z-index: -1;
  position: relative;
  height: 100%;
  background: rgba(43, 87, 46, 0.5568627451);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .instagram .field .col-2 .col-12 i {
  font-size: 2rem;
  color: #FFFFFF;
}
.home .instagram .field .col-2:hover .col-12 {
  z-index: 1;
}/*# sourceMappingURL=main.css.map */