.home{
    .header{
        @include padding(10px, 10px);
        position: relative;
        background: $main_bg_color;
        margin: 1rem auto;
        border-radius: 8px;

        .col-5{
            text-align: start;
            h1{
                @include text(54px, 900, $black_color)
            }
            p{
                margin: 10px 0;
                @include text(20px, 600, $black_color);
                span{
                    color: $main_star_color;
                }
                &.text{
                    @include text(14px)
                }
            }
            .btn{
                margin-top: 1rem;
            } 
        }
        .col-7{
            img{
                height: 400px;
            }
        }

        .col-10{
            position: relative;
            top: 60px;
            margin: 0 auto;
            background: $main_white_color;
            box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
            border-radius: 8px;

            .col-9{
                text-align: start;
                
                .title{
                    @include text(16px, 900,);
                }
    
                .text{
                    @include text(10px, )
                }
                
            }
        }
    }
    .feature_product{
        padding: 2rem 0;
    }
}