header{
    nav{
        .top_bar{
            border-bottom: 1px solid #666;
        }
        .field{
            form{
                position: relative;
                @include d_flex(center);
                font-size: 1.2rem;
                label{
                    position: absolute;
                    z-index: 1;
                    left: 17.5%;
                }
                input{
                    position: relative;
                    width: 300px;
                    @include padding(14px,24px);
                    border: 1px solid #666;
                    border-radius: 6px 0px 0px 6px;
                }
                
                .btn{
                    @include padding(14px,24px);
                    background: $main_green_color;
                    color: $main_white_color;
                    border: 1px solid #666;
                    border-radius: 0px 6px 6px 0px;
                }
            }
            .top_bar_icons{
                i{
                    @include text(22px, _, _)
                }
                .col-7{
                    gap: 5px;
                    border: none;
                        
                    .col-3{
                        padding: 0;
                    }
                    .col-9{
                        padding: 0;
                        text-align: start;
                        p{
                            @include text(14px);
                            &:last-child{
                                @include text(_, 600)
                            }
                        }         
                    }
                }
                .col-5{
                    text-align: end;
                    border-right: 1px solid #666;
                }
            }

            
        }
        .menu_bar{
            @include padding(16px,0);
            background: var(--gray-scale-gray-800, #333);

            ul{
                
                li{
                    position: relative;
                    @include padding(5px,10px);
                    

                    &::after{
                        content:attr(text);
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        background-color: $main_white_color;
                    }
                    a{
                        color: var(--gray-scale-gray-400, #999);
                        transition: all .3s ease;
                    }
                    &:hover ,&.active {
                        &::after{
                            width: 100%;
                            transition: all .4s ease;
                        }
                        a{
                            color: $main_white_color
                        }
                    }

                }
            }

            .field{
                .phone_number{
                    text-align: end;
                    color: $main_white_color;
                }
            }
        }
    }
}